.row.center-xs.top-space
  .col-xs-11.col-md-10.col-lg-9
    .box
      =form_tag "/search", method: :post do
        =text_field_tag "search", nil, class:"form-control", placeholder: "Busqueda"
        = submit_tag "Buscar", class:"btn btn-info center-xs"
