.row.center-xs
  .col-xs-12.col-md-10.col-lg-8
    .box
      .card.big-padding
        %h2 ¿Olvidaste tu contraseña?

        = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
          = devise_error_messages!


          .form-group.label-static
            = f.email_field :email, auofocus: true, class:"form-control floating-label", placeholder: "Correo electrónico"

          .form-group
            = f.submit "Envienme instrucciones para cambiar mi contraseña", class:"btn btn-success"
          %br
            =render "devise/shared/links"
